body {
  font-family: "Gilam", sans-serif;
}
.container {
  width: 1095px;
  margin-right: auto;
  margin-left: auto;
}
.content-container {
  width: 821px;
  margin-right: auto;
  margin-left: auto;
}
.infrastructure {
  background-color: #171717;
}
.section-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
  padding-top: 96px;
}
.phone-head {
  margin-top: 46px;
  padding: 20px 137px;
  background-image: url("../img/СК_ИНФРАСТРУКТУРА_logo_2\ 2.svg");
  background-repeat: no-repeat;
  background-position: center left 150px;
}

.phone-list {
  display: flex;
  padding: 0;
  justify-content: end;
}

.phone-item {
  padding: 0 14px;
}
.phone-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  font-family: "Circe", sans-serif;
}
.phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #d6af76;
}
.phone-item-callback {
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  text-decoration: none;
  border: 1px solid #e4b564;
  padding: 10px 25px 10px 49px;
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-position: left 20px center;
}
.outdoor-heating-networks {
  background-image: url("../img/header-bg.jpeg");
  background-position: center;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-size: cover; */
}
.Outdoor-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
  padding-top: 31px;
  margin-bottom: 31px;
}
.heating-networks-list {
  display: grid;
  grid-auto-rows: minmax(351px, auto);
  grid-template-columns: repeat(6, 1fr);
  row-gap: 20px;
  column-gap: 26px;
  padding-left: 0;
  margin: 0;
  grid-template-areas:
    "a a b b c c"
    "d d d i i i";
}
.heating-networks-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item1 {
  grid-area: a;
  background-color: #634f2c;
}
.item2 {
  grid-area: b;
  background-color: #b4a385;
}
.item3 {
  grid-area: c;
  background-color: #e4b564;
}
.item4 {
  grid-area: d;
  background-color: #635a4a;
}
.item5 {
  grid-area: i;
  background-color: #b08c4d;
}
.heating-networks-web {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.own-fleet-of-construction-equipment {
  background-color: #171717;
  min-height: 500px;
}
.construction-flex-container {
  display: flex;
  justify-content: space-between;
}

.construction-list {
  margin-top: 71px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.construction-items {
  width: 260px;
  margin-bottom: 25px;
  margin-right: 23px;
}
.construction-text {
  padding: 33px 10px 0 39px;
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}
.construction-web {
  text-decoration: none;
}
.construction1 {
  height: 235px;
  background-color: #0e0e0e;
}
.construction3 {
  background-color: #242424;
  height: 329px;
}
.construction5 {
  background-color: #1f1f1f;
  height: 191px;
}
.construction2 {
  background-color: #1f1f1f;
  height: 420px;
}
.construction4 {
  background-color: #e4b564;
  height: 304px;
}
.construction6 {
  background-color: #0e0e0e;
  height: 235px;
}
.construction7 {
  background-color: #0a0909;
  height: 208px;
}
.our-clients-and-projects {
  background-image: url("../img/parallax-bg.jpeg");
  background-position: center;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom: 179px;
  /* background-size: cover; */
}
.unite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 129px;
}
.title-projects {
  font-weight: 700;
  font-size: 35px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
}
.projects-link {
  text-decoration: none;
}
.projects-link-text {
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #e4b564;
}
.our-projects {
  display: grid;
  grid-auto-rows: minmax(293px, auto);
  grid-template-columns: repeat(6, 1fr);
  padding-left: 0;
  margin: 0;
  padding-top: 54px;
  grid-template-areas:
    "a a b b c c"
    "d d i i e e";
}
.projects-item1 {
  grid-area: a;
  background-color: #634f2c;
  background-image: url(../img/eid.png);
  background-position: center;
  background-repeat: no-repeat;
}
.projects-item1:hover {
  transition: 2s;
  background-position: center 20px;
}
.projects-item2 {
  grid-area: b;
  background-color: rgba(232, 210, 171, 0.76);
  background-image: url(../img/logo-mavis.png), url(../img/mavis.png);
  background-position: center 70px, center;
  background-repeat: no-repeat;
}
.projects-item2:hover {
  transition: 2s;
  background-position: center 20px, center 60px;
}
.projects-item3 {
  grid-area: c;
  background-color: #e4b564;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/arsenal.png);
}
.projects-item3:hover {
  transition: 2s;
  background-position: center 20px;
}

.projects-item4 {
  grid-area: d;
  background-color: #635a4a;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/arsenaln.png);
}
.projects-item4:hover {
  transition: 2s;
  background-position: center 20px;
}
.projects-item5 {
  grid-area: i;
  background-color: #b08c4d;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/set.png);
}
.projects-item5:hover {
  transition: 2s;
  background-position: center 20px;
}
.projects-item6 {
  grid-area: e;
  background-color: #634f2c;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/dev.png);
}
.projects-item6:hover {
  transition: 2s;
  background-position: center 20px;
}
.our-projects-item {
  display: flex;
}
.our-projects-link {
  display: flex;
  align-items: flex-end;
  opacity: 0;
  text-decoration: none;
  height: 100%;
}
.our-projects-link-text {
  text-align: center;
  margin: 0;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}
.text-width {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}
.our-projects-link:hover {
  opacity: 1;
  transition: all 2s;
  padding-bottom: 45px;
}
