*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  margin: 0;
}
.container {
  width: 620px;
  margin: 0 auto;
}

.menu {
  display: inline-block;
}
.item {
  display: inline-block;
}
.sub-menu {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
  text-decoration: none;
  margin: 25px 31px 25px 0;
}
.simplephoto {
  min-width: 100%;
}
in- .title-container {
  width: 774px;
  margin: 0 auto;
}
.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 38px;
}
.text-container {
  width: 1145px;
  margin: 0 auto;
}
.sub-text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
}
.start {
  display: block;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  background: #ff0000;
  border-radius: 4px;
  margin-top: 66px;
  margin-bottom: 0px;
  padding: 18px 43px 17px 44px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  text-align: center;
}
.copyright {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-align: right;
  margin: 99px 105px 29px 0;
}
