body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  display: flex;
  font-size: 80px;
  line-height: 94px;
  text-decoration: none;
  color: #000000;
  margin-top: 63px;
  margin-bottom: 0;
}
.logo-color {
  color: #00ccff;
}
.head-menu-list {
  display: flex;
  justify-content: center;
  margin-top: 110px;
  margin-bottom: 0;
  background: #35444f;
  padding: 0;
}

.head-menu-item {
  padding: 26px 33px 19px;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  height: 100%;
  border-right: 1px solid #ffffff;
}
.item-right {
  border-left: 1px solid #ffffff;
}
.head-menu-item:hover {
  background: #222f3a;
}
.head-menu-web {
  text-decoration: none;
  color: #ffffff;
}
.content {
  display: flex;
  margin-top: 48px;
  margin-bottom: 0;
}
.content-menu-list {
  margin: 0;
}
.content-menu-nav {
  width: 344px;
  height: 399px;
  margin-right: 52px;
  border: 1px solid #000000;
}
.content-menu-item {
  font-size: 27px;
  line-height: 27px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.content-menu-item:hover {
  background-color: #dbdbdb;
  padding-left: 39px;
}
.content-menu-web {
  text-decoration: none;
  color: #485863;
}
.content-menu-web:hover {
  color: #35444f;
}
.content-center {
  display: flex;
  flex-direction: column;
  width: 885px;
}
.img {
  display: flex;
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
  align-items: center;
  justify-content: center;
}
.content-img {
  margin-top: 75px;
  margin-bottom: 73px;
  overflow: hidden;
  transition: transform 0.25s;
}
.content-img:hover {
  transform: scale(1.1);
}

.content-text-item {
  padding-top: 37px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 21px;
  background: rgba(99, 105, 110, 0.48);
}
.footer-list {
  display: flex;
}
.footer-items {
  padding-left: 28px;
}
.footer-web {
  text-decoration: none;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}
.footer-web:hover {
  border-bottom: 1px solid #007a99;
  padding-bottom: 13px;
  color: #007a99;
}
.copyrigh {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
  text-decoration: none;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
